:root {
    --accent-color: #1f7de1;
    --bg-color: white;
    --bucareli-yellow: #FFDE59;
    --text-color: #222;
    --grey: #6e6e73;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: var(--bucareli-yellow);
}

#landing-page {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
  
  h1 {
    font-size: clamp(3rem, 20vw, 8rem);
  }
  
  p:first-of-type {
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--grey);
    padding-inline: 2rem;
  }
}