
pre.highlight {
    word-wrap: break-word;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 1.428571429;
    margin: 0 0 10px;
    overflow: auto;
    padding: 12px;
    -o-tab-size: 2;
    tab-size: 2;
    word-break: break-all;
}

.language-plaintext {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 95%;
    padding: 2px 4px;
}

.language-console {
    color: white;
}


.userInput {
    padding: 1rem;
/*    font-family: monospace;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #272822;
    color: #eee;
/*    background-color: #e5e5e5;*/
/*    color: #222;*/
    outline: none;
    border: none;
    width: 85%;
}

.checkBtn {
    margin-top: 1rem;
    margin-bottom: -2rem;
    width: 64px;
    height: 64px;
    border: none;
    display: block;
    opacity: 0.5;
    background: url("/assets/images/next.svg") no-repeat;
}

.checkBtn:hover {
    opacity: 1;
    cursor: pointer;
}
